In [2]:
import numpy as np
import pandas as pd

In [9]:
orders = pd.read_csv("/home/ksn38/data/transaction_data.csv")[['household_key', 'PRODUCT_ID', 'QUANTITY']]
orders.rename(columns={'household_key': 'user_id', 'PRODUCT_ID': 'item_id', 'QUANTITY': 'quantity'}, inplace=True)
orders.to_csv('/home/ksn38/data/orders.csv', index=False)

In [10]:
pd.read_csv('/home/ksn38/data/orders.csv')

         user_id   item_id  quantity
0           2375   1004906         1
1           2375   1033142         1
2           2375   1036325         1
3           2375   1082185         1
4           2375   8160430         1
...          ...       ...       ...
2595727     1598     92130         1
2595728     1598    114102         1
2595729     1598    133449         1
2595730     1598   6923644         1
2595731     1598  14055192         1

[2595732 rows x 3 columns]

In [12]:
users_list = []

for i in range(5):
    users_list.append(np.random.randint(0, 2500))
    
print(users_list)

[2015, 2424, 1047, 1870, 1580]

In [15]:
pd.DataFrame({'id': users_list}).to_csv('/home/ksn38/data/users.csv', index=False)

In [ ]:
#\copy users FROM '/home/ksn38/data/users.csv' DELIMITER ',' CSV;