In [5]:
import pandas as pd

df = pd.read_csv('pjml.csv')
df.name = df.name.map({'Javascript': 0, 'Python': 1})
df.rename(columns={'name': 'target'})
df.head()

    val  val_noexp  res_vac  name
0  1550          8      4.8     0
1  1525          8      4.8     0
2  1377          7      8.9     1
3  1384          7      8.9     1
4  1091          7     10.9     1